{% extends "core/base.html" %}
{% load static %}

{% block title %}Herramientas{% endblock %}

{% block custom %}
<link rel="stylesheet" href="{% static 'css/biblioteca.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>HERRAMIENTAS</h1>
    <div class="cols">
        <a href="{% url 'dado' %}" class="col">
            <div class="container">
                <div class="front" style="background-image: url({% static 'img/dice-icon.png' %});">
                    <div class="inner">
                        <p>DADOS</p>
                        <span>Lanza Dados</span>
                    </div>
                </div>
                <div class="back" style="background-image: url({% static 'img/dice-icon2.png' %});">
                    <div class="inner">
                        <p>Dados Virtuales.</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" class="col">
            <div class="container">
                <div class="front" style="background-image: url({% static 'img/hojapj.png' %});">
                    <div class="inner">
                        <p>PERSONAJES</p>
                        <span>Crea tu personaje</span>
                    </div>
                </div>
                <div class="back" style="background-image: url({% static 'img/hojapj2.png' %});">
                    <div class="inner">
                        <p>Crear un nuevo personaje se guardará en tu perfil.</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'manuales' %}" class="col">
            <div class="container">
                <div class="front" style="background-image: url({% static 'img/manuales.png' %});">
                    <div class="inner">
                        <p>MANUALES</p>
                        <span>Expande tu Conocimiento</span>
                    </div>
                </div>
                <div class="back" style="background-image: url({% static 'img/manuales2.png' %});">
                    <div class="inner">
                        <p>Conjunto de manuales de reglas para varios juegos.</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="{% url 'mapas' %}" class="col">
            <div class="container">
                <div class="front" style="background-image: url({% static 'img/mapas.png' %});">
                    <div class="inner">
                        <p>MAP GENERATOR</p>
                        <span>Crea y comparte mapas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url({% static 'img/mapas2.png' %});">
                    <div class="inner">
                        <p>Crea y comparte tu mapa generado.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
