{% extends "core/base.html" %}
{% load static %}

{% block title %}Biblioteca{% endblock %}

{% block custom %}
<!-- <link rel="stylesheet" href="{% static 'css/manual.css' %}"> -->
{% endblock %}

{% block content %}
<main class="container mt-5 p-3 container-principal">
    {% for manual in juego.manuales.all %}
    <div class="map-container text-center mb-3">
        <iframe 
            id="pdfViewer"
            src="{{ manual.archivo.url }}" 
            class="w-100 d-none d-md-block" 
            style="height: calc(100vh - 100px);" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </div>
    {% empty %}
        <li>No hay manuales disponibles.</li>
    {% endfor %}
</main>
{% endblock %}