@font-face {
    font-family: 'Medieval';
    src: url('../fonts/medieval-font.ttf') format('truetype');
}

body {
    background-color: #06130A;
    color: white;
    font-family: 'Medieval', cursive;
}

p {
    color: #C8D6C3;
}

h1, h2, h3, h4, h5, h6 {
    color: #A1C181;
}